<html>
    <link rel="shortcut icon" href="/images/wiz-icon.png">
	<link rel="stylesheet" type="text/css" href="/stylesheets/stylemain.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/agenda.css">
	<style>
		.infocap{
			font-size:10pt;
			font-weight:bold;
			color:Orange;
			vertical-align:middle;
			padding-left:25px;
			line-height:25px;
		}
		
		.daycap{
			font-size:10pt;
			font-weight:bold;
			text-decoration:none;
			color:White;
			padding-left:5px;
			height:30px;
			background:url(/images/panel.png) repeat-x;
			vertical-align:bottom;
		}
	</style>
<head>
	<title>
		WIZ | Woodchem
	</title>
</head>

<body style="position: relative; min-height: 100%; top: 0px;">
	<div id="main">
		<div id="site">
			<div id="logo1" style="display:block;">
				<div id="menu" style="margin-top: 20px;float:right;">
					<ul id="ul">
						<li id="menu_corner" style="float:left; width:20px; height:33px;"></li>
						<li style="width:53px;background-color:#222222;"><a href="http://wiz-biz.com/">Home</a></li>
						<li style="width:104px;background-color:#222222;"><a href="/event">About Event</a></li>
						<li style="width:111px;background-color:#222222;" class="current_page_item"><a href="/agenda">Event Agenda</a></li>
						<li style="width:128px;background-color:#222222;"><a href="/speaker">Speaker Profile</a></li>
						<li style="width:102px;background-color:#222222;"><a href="/register">Register Me</a></li>
						<li style="width:85px;background-color:#222222;"><a href="/sponsor">Sponsor</a></li>
					</ul>
				</div>
			</div>
			<div id="divcontent" style="width:1003px;background-color:#f5f4f3;">
				<div align="center">
						<img src="/images/agenda.png"></img>
				</div>
			</div>
		</div>
		
		

	</div>


 
</body>

</html>
