<html>
    <link rel="shortcut icon" href="/images/wiz-icon.png">
	<link rel="stylesheet" type="text/css" href="/stylesheets/stylemain.css">
	<style>
		a:link { 
			color:red; 
			text-decoration:underline; 
		} 
		a:visited { 
			color:blue; 
			text-decoration:none; 
		} 
		a:hover { 
			color:red; 
			text-decoration:none; 
		} 
		a:active { 
			color:#FFFFFF; 
			text-decoration:none; 
		} 

		.image-title{font-size:17px;color:red;font-weight:bold;}

		.image ul{list-style:none;}

		.image ul li{float:left;margin-right:30px;margin-left:-20px;}

		#highlight > li{list-style-type:none;padding-bottom: 5px;margin-left: -30px;}

		#attend > li{list-style-type:none;padding-bottom: 5px;margin-left: -30px;}
	</style>
<head>
	<title>
		WIZ | Woodchem
	</title>
</head>

<body style="position: relative; min-height: 100%; top: 0px;">
	<div id="main">
		<div id="site">
			<div id="logo1" style="display:block;">
				<div id="menu" style="margin-top: 20px;float:right;">
					<ul id="ul">
						<li id="menu_corner" style="float:left; width:20px; height:33px;"></li>
						<li style="width:53px;background-color:#222222;"><a href="http://www.wiz-biz.com/">Home</a></li>
						<li style="width:104px;background-color:#222222;" class="current_page_item"><a href="/event">About Event</a></li>
						<li style="width:111px;background-color:#222222;"><a href="/agenda">Event Agenda</a></li>
						<li style="width:128px;background-color:#222222;"><a href="/speaker">Speaker Profile</a></li>
						<li style="width:102px;background-color:#222222;"><a href="/register">Register Me</a></li>
						<li style="width:85px;background-color:#222222;"><a href="/sponsor">Workshop</a></li>
					</ul>
				</div>
			</div>

			<div id="divcontent" class="content" style="width:1003px;">
				<div style="float:left;width:600px;text-align:left;overflow:hidden;padding-left:5px;"> 
					<span style="font-size:1WoodChem 2015,4th-5th November,Kuala Lumpur, Malaysia4px;font-weight:bold;color:red;text-align:left;">
						
					</span>
				</div>
				
				<div style="float:left;width:40%;padding-left:5px;padding-top:5px;">
					<h3 style="font-size:14px;">Welcome to Wiz WoodChem in Kuala Lumpur</h3>
					<p>
						It is the pleasure and honor of Wiz Business Company to invite you to the WoodChem Conference in Kuala Lumpur, Malaysia in November 2015. 
					</p>
					<p>
						We are expecting more than 60 participants of all related industrial players from Middle East Area, Europe, Africa, SE Asia, China, India, Japan, Korea, Turkey, Russia and all over the world. The conference will focus on Wood Adhesives and Feedstock, Wood Adhesives and Resin Chemistry, Wood Panel and Plywood, Forest Industry.
					</p>
					<p>
						WIZ WoodChem Conference is committed to provide a good platform for communication and networking among this industry for both commercial and technical issues.
					</p>
					<p>
						<span style="font-weight:bold;">Reviews 2013 </span>- Wiz Biz held “Melamine Focus 2013” conference on November 28th in Kuala Lumper, Malaysia and had good networking with all the speakers and delegates from Malaysia, Singapore, Thailand, Indonesia, China, India, Iran and Europe. 
					</p>
					<p>
						<span style="font-weight:bold;">Reviews 2014 </span>- “Wood Adhesives & Feedstock 2014” conference was held successfully in beautiful Bali, Indonesia. With the Supports of HUNTSMAN, EMFORMA and ASMINDO, the event gathered around 50 key industry players in Asian region.
					</p>
				</div>
				<div style="float:left;width:25%;margin-left:12px;padding-top:5px;">
					<h3 style="font-size:14px;margin-left:20px;">Highlights 2015</h3>
					<ul id="highlight">
						<li>- Adhesives Feedstock</li>
						<li>- Ongoing Pricing & Trend</li>
						<li>- Latest Worldwide Forest Industry</li>
						<li>- Latest Worldwide Melamine</li>
						<li>- Supply & Demand Situation</li>
						<li>- Resin & Wood Chemistry</li>
						<li>- Woodworking Market</li>
						<li>- Panel & Plywood Market</li>
					</ul>
				</div>
				<div style="float:left;width:30%;margin-left:12px;padding-top:5px;">
					<h3 style="font-size:14px;margin-left:20px;">Who Will Attend 2015</h3>
					<ul id="attend">
						<li>- Resins Producers</li>
						<li>- Plywood/MDF/Particle Board/Wood Panel/Fiber Board</li>
						<li>- Moulding Compounds Producers</li>
						<li>- Panel Technology & Solutions</li>
						<li>- Equipment & Tech Providers</li>
						<li>- Consulting Company</li>
						<li>- Others</li>
					</ul>
				</div>
			</div>
		</div>
	</div>


 
</body>

</html>