<html>
    <link rel="shortcut icon" href="/images/wiz-icon.png">
	<link rel="stylesheet" type="text/css" href="/stylesheets/stylemain.css">
	<style>
	
	</style>
<head>
	<title>
		WIZ | Plasticizer
	</title>
</head>

<body style="position: relative; min-height: 100%; top: 0px;">
	<div id="main">
		<div id="site">
			<div id="logo1" style="display:block;">
				<div id="menu" style="padding-top:22px;float:right;">
					<ul id="ul">
						<li id="menu_corner" style="float:left; width:20px; height:33px;"></li>
						<li style="width:53px;background-color:#222222;"><a href="http://wiz-biz.com/">Home</a></li>
						<li style="width:104px;background-color:#222222;"><a href="/event">About Event</a></li>
						<li style="width:111px;background-color:#222222;"><a href="/agenda">Event Agenda</a></li>
						<li style="width:128px;background-color:#222222;"><a href="/speaker">Speaker Profile</a></li>
						<li style="width:102px;background-color:#222222;" class="current_page_item"><a href="/register">Register Me</a></li>
						<li style="width:85px;background-color:#222222;"><a href="/sponsor">Sponsor</a></li>
					</ul>
				</div>
			</div>
			<div id="divcontent" class="content" style="width:1003px;height:450px;background-color:#f5f4f3;">
				<div style="float:left;width:100%;">
					<table border="0" align="left">
						<tbody>
							<tr>
								<td style="vertical-align:top;">
									<div style="width:785px;padding-right:0px;" id="content">
										<div style=" float:left; width:100%; margin-bottom:12px;">
											 <div style="float:left; width:600px; text-align:left; overflow:hidden;" align="left"> 
												 <span style="font-size:15px;font-weight:bold; color:red;text-align:left;">Plasticizer & Feedstock, 12-13 March, 2015,Hong Kong, China<br></span>
											 </div>
										</div>
									</div>
								</td>
							</tr>
						
							<tr>
								<td style="text-align:left;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									<span style="font-size:15px;font-weight:bold;margin-left:250px;">Registration Hotline:</span></br>
									<span style="font-size:13px;margin-left:250px;">Ms. Jennifer Yang</span></br>
									<span style="font-size:13px;margin-left:250px;">Tel: +86-21-60246389</span></br>
									<span style="font-size:13px;margin-left:250px;">Mob: +86-137-6114-6284</span></br>
									<span style="font-size:13px;margin-left:250px;">E-mail: <u style="color:blue;">info@wiz-biz.com</u></span>
								</td>
							</tr>
							<tr>
								<td style="text-align:left;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									<span style="font-size:15px;font-weight:bold;margin-left:250px;">Registration fee:</span></br>
									<span style="font-size:13px;margin-left:250px;">USD 1295 for one person</span></br>
									<span style="font-size:13px;margin-left:250px;">USD 1095 per for two or more person from one company</span></br>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>


 
</body>

</html>
