<html>
    <link rel="shortcut icon" href="/images/wiz-icon.png">
	<link rel="stylesheet" type="text/css" href="/stylesheets/stylemain.css">
<head>
	<title>
		WIZ | Woodchem
	</title>
</head>

<body style="position: relative; min-height: 100%; top: 0px;">
	<div id="main">
		<div id="site">
			<div id="logo1" style="display:block;">
				<div id="menu" style="margin-top: 20px;float:right;">
					<ul id="ul">
						<li id="menu_corner" style="float:left; width:20px; height:33px;"></li>
						<li style="width:53px;background-color:#222222;">
							<a href="http://www.wiz-biz.com/">Home</a>
						</li>
						<li style="width:104px;background-color:#222222;">
							<a href="/event">About Event</a>
						</li>
						<li style="width:111px;background-color:#222222;">
							<a href="/agenda">Event Agenda</a>
						</li>
						<li style="width:128px;background-color:#222222;" class="current_page_item">
							<a href="/speaker">Speaker Profile</a>
						</li>
						<li style="width:102px;background-color:#222222;">
							<a href="/register">Register Me</a>
						</li>
						<li style="width:85px;background-color:#222222;">
							<a href="/sponsor">Sponsor</a>
						</li>
					</ul>
				</div>
			</div>
			
			<div id="divcontent" style="width:1003px;background-color:#f5f4f3;margin-top:20px;">
				<div>
					<h3 align="center" style="font-size:14px;align:center;">Call For Papers</h3>
					<p style="margin-left:80px;margin-right:80px;">
						Wiz Biz is pleased to announce that the WoodChem 2015 will be held in Kuala Lumpur during November 4 to 5.
						In preparation for the event, we would like to issue the following call for papers.Abstracts for presentations can be submitted via e-mail to 
						<span style="font-weight:bold;">pennywang@wiz-biz.com by September 30, 2015.</span> 
						As the conference language will be English, the text of the abstracts should be submitted in English only.
					</p>
				</div>
				<div align="center">
					<img src="/images/speaker.jpg"></img>
				</div>
			</div>
			
		</div>

	</div>
	
 
</body>

</html>
